<br>
<br>
<br>
<br>
<!-- HEADER -->
 <div class="row" >
            <div class="col-lg-12" id="show-me">
                  <p class="headtext">
                    <b>Content Editor</br>
                <a href="/#/add-video">Add Content</a></br>
<!-- FIRST DOWNLOAD -->
                </p>
              <!--   <img class="headerimage" src="{% static "img/words.jpg" %}" width="70%" height="70%"></img>
               -->
            </div>
        </div> 
<!--   Filter:
  <select ng-model="filterItem.store" ng-options="city.name for city in filterOptions.stores">
  </select></br></br>
  {{filterItem.store}}
  <br>
  {{filterItem.store.city}} -->
<div class="row" >
            <div class="col-lg-12" id="show-me">
                  <center>Search Content: <input type="text" ng-model="search"></center>
</br></br>
</div>
</div>
<!-- ARTISTS -->
<div id="mydiv"></div>
<ul>
    <li ng-repeat="video in videos | filter:search">
    <div class="row" style="background-color: #EBF4F8"> 
      <div class="col-md-7">
      <div my-youtube code="video.link"></div>
    </div>
        <div class="col-md-5">
        <h2><a href="/#/video/{{video._id}}">
            {{video.title}}
        <a href="/#/video/delete/{{video._id}}">
        <i class="glyphicon glyphicon-remove"></i></h2>
        </a>
        <h5>{{video.city}}</h5>
        <h4 class="indenttext">{{video.description}}</h4>
        <p class="indenttext">{{video.bio}}</p>
    </div>
    </div>
        </br>
</br>
    </li>
</ul>


