
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #fff;
  width: 95%;
  margin: auto;
  position: relative
}


.headtext {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #000;
  background-color: transparent;
  width: 95%;
  margin: 2%;
  font-size: 40px;
  text-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}

h4, 
.h4 {
font-style: italic;
}

.page-header {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
}

/*navbar color, sizes*/
.navbar {
    background-color: #000;
    background-image: none; 
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    margin-left: -2.5%;
    margin-right: -2.5%;

}

/*navbar text color*/
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

/*navbar hover color*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  text-decoration: underline;
}
/*navbar border*/
.navbar-static-top {
    z-index: 1000;
        border-bottom-width: 3px;
}

.navtext {
  font-size: 16px;
  text-align:right;
  margin: 1%, 5%, 1%, 5%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  text-transform: none;
  color: #fff;
 /* position: static;*/
/*  display: table;
  table-layout: fixed;*/
}

.navbar-collapse, .collapse{
padding-left: 40%; 
}
/*Fix this. Using navtext instead currently*/
.headerimage {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}             

hr
{
    width: 30%;
    background-color: #333;
    border: 0 none;
    color: #333;
    height: 1px;
    text-align: center;
}
/*Welcome to ______*/
.page-header {
  text-align: center;
  padding-bottom: 10px;
  margin: 10px 0 10px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding-top: 15px;
  padding-left: 50px;
  font-size: 18px;
  line-height: 20px;
}

.socialicons {
  text-align: center;
  display: block;
}

.icon {
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.0em;
   /* text-align: center;
    display: block;*/
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #000;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    white-space: nowrap;
    color: #C8C8C8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #000;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: transparent;
}


.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #CFCFCF;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #FFF;
    background-color: transparent;
  }
.dropdown-menu {
    font-size: 14px;
    text-align: right;
    list-style: outside none none;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: transparent;
}


.arrow {
  color: #C1A164;
  white-space: nowrap;
  font-size: 4rem;
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

/* this sets the position of the arrow when it's up, so it will move up or down by 14px when you add or remove this class */
.lift {
  bottom: 64px;
}

.indenttext {
    margin: 30px 30px 30px;
}

.btn-default {
    color: #000;
    background-color: #FFF;
    border-color: #000;
  }

 .glyphicon-music {
    color: #000;
    } 
/*mobile header text*/
@media (max-width: 767px) {
    .headtext {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: transparent;
  width: 95%;
  margin: 2%;
  font-size: 25px;
  text-align:center;
}
}

ul
{
list-style-type: none;
margin: 0;
padding: 0;
}
.col-lg-12 {
    
    min-height: 1px;
}

